body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
    line-height: 1.6;
    align-items: center;
}

header {
    text-align: center; 
    padding: 20px;
    background-color: #004d66; 
    color: white;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;     
    object-fit: cover;      
    display: block;         
    margin: 0 auto 15px;     
    border: 3px solid white; 
}


header {
    background: #06435b;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 8px;
    justify-content: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
}

h2 {
    color: #2CA4DB;
    align-items: center;
    display: flex;
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    background: #fafafa;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    margin-top: 20px;
}
